.header {
	text-align: left;
	padding: 20px 10px;
	p {
		margin: 20px 10px;
		a {
			text-decoration: none;
			color: red;
		}
	}
}
h1 {
	color: red;
}
p 
{
	color: green;
}
.rotate {
	transform: rotate(90deg);
}
.rounded {
	border-radius: 10px;
}
.flex {
	display: flex;
	flex-flow: row wrap;
}
h1 {
	color: red;
}